

form{
  background-color: #f3eded1a!important;
}
.aboutText{
  background-color: #0f0e0e54!important;
}

.height{
  height: 83vh;
}

.login{
  background-image: url(./component/images/React-and-Electron.png);
  background-size: cover;
  background-position: center;
}
.about{
  background-image: url(./component/images/bannertree.jpg);
  background-size: cover;
  background-position: center;
  /* height: 200vh; */
  
}
.register{
  background-image: url(./component/images/react-router.png);
  background-size: cover;
  background-position: center;
}
.navimg{
  display: block;
  border-radius: 50%;
}

.homeImg{
  display: block;
width: 100%;
height: 85vh;
}
.cardImg{
  display: block;
  /* width: 100%;
  height: 100%; */
}
.blogCard{
  max-height: 90%;
  cursor: pointer;
}
.bloghover:hover{
  display:block;
  box-shadow: rgba(0, 0, 0, 0.527) 0px 0px 5px 5px;
  transform: scale(1.02);
  transition: all 300ms ease-in-out;
}

.Page {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
}
.bloghover{
  position: relative;
  display: block;
}
.views{
  position: absolute;
  background-color: green;
  color: white;
 right: 0%;

 
 display: block;
}
 .nrViews{
  background-color: rgb(70, 8, 70);
 }